/* 
* So we can see by default h1, h2, p ... some element in webpage have space like margins, paddings from default of browser so it might effect to out creating padding and margin process
! Before we set padding and margin we should reset all those margins and paddings by default 
* to do it we will use universal selector to set margin and padding to 0
! we don't use body to get inherited margin:0; and padding:0 why? if we set it, it also have effect but not for text element because margin is not property of text element and there it's not property get inherited from parent element
* use universal selector to set for all single elements and universal selector now is useful for this situation
* and now we can format our page as we wish
*/
* {
  /* * this kind of global reset is extremely common and this usually very fist thing we should do whenever we start our project 
  ! keep in mind this padding and margin is easy to overwrite so every selectors can overwrite this universal selector
  * and in more technical terms we say that universal selector has a specificity of zero which VSCode show for use when we hover to this element selector specificity (0,0,0) and it might a lowest prioty*/
  padding: 0;
  margin: 0;
}
/* 
* RECAP: whenever you need some space inside of an element which is very useful mostly when there is a backgound color or a border on the element then you always use padding
* on the other hand to create space outside of an element or also create space between multiple elements always use margin
* and in this case that you need to add vertical(chieu doc) space so we should most of the time to stick to margin bottom
*/

body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
}
/* 
 ? USING PADDING AND MARGIN IN CSS
*/
/* 
* we should big container selector basically big boxes contain many child elements to top part  
* in this case we have header and aside is one of them, we also have article and footer
*/
.main-header {
  background-color: #f7f7f7;
  /* * now this padding here doesn't create the same padding on all four side of the box */
  padding: 20px;
  /* * but we can specify for left, right, top, bottom padding look like border */
  padding-left: 40px;
  padding-right: 40px;
  /* * but we have other way to do it better this is shorthand allow us specify multiple values 
  ! padding: value_1 => like above code it's specify all four site 
  ! padding: value1 value2; => value1 specify for top, bottom and value2 specify for left and right
  */
  padding: 20px 40px;
  /* ! itis very common to use mostly space at the bottom in order to create verical space
  * so just stick(bam) to either margin top and margin bottom so one of them is find
  ! but it's best not to always mix them when you want to create space between elements
  * for jonas dev he like margin bottom, maybe it's good but margin top can good in some certain case right*/
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 30px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

aside {
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  background-color: #f7f7f7;
  /* padding-top: 20px;
  padding-bottom: 20px;
  * we should use shorthand to specify if we have many values */
  padding: 30px 0;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  /* ! we have problem here because the before element also have margin-bottom: 15px and now we use margin-top: 40px and it looks like 15+40= 55px 
  !but in fact it's not, space of two element is 40px not 55 px
  * and this phenomena is called collapsings(thu gon) margins so basically when we have two margin that occupied the same space only one of them is actually visible on the page and that is usually the larger of the two
  ? if the values in the same? so it just take random one of two like 40px + 40px = 80 px but in fact it's 40px for space of two elements
  * and so if you want the space is 55 px maybe we need specify space of one of two element is 55px*/
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 21px;
  line-height: 1.5;
  margin-bottom: 15px;
}
/* * we can specify margin to li element to have good space between of them */
li {
  /* ! notice that we don't want the last element have a space because we only want for each of them */
  font-size: 20px;
  margin-bottom: 20px;
}
/* * so can use trick with use pseudo last-child class */
li:last-child {
  /* margin-bottom: 0px; 
  ! notice that when use 0 we don't need specify unit like px, %,....
  */
  margin-bottom: 0;
  /* * this will overwrite margin-bottom befor of the last li element 
  * we will now keep adding more and more margins and padding to all of our elements
  */
}

footer p {
  font-size: 16px;
}

article header p {
  font-style: italic;
}

/* * we need some space to display the numbers, and points on the list because we reseted margin and paddin in our page right */
ul,
ol {
  margin-left: 30px;
  margin-bottom: 20px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

article p:first-child {
  color: red;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: rgba(255, 0, 0, 0.39);
  font-weight: bold;
  text-decoration: underline solid olivedrab;
}

a:active {
  /* color: red; */
  background-color: black;
  font-style: italic;
}

a {
  color: red;
}

#copyright {
  color: red;
}

.copyright {
  color: #1098ad;
}

.text {
  color: #444;
}
footer p {
  color: #f7f7f7 !important;
}
